 *{
 margin: 0;
 padding: 0;
        
}
main{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/fbfbf920-aae8-4f40-95f7-28cd7910f1e8/web/NP-en-20260427-TRIFECTA-perspective_eb5af340-4778-4ace-830c-288b4be375e0_large.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
    font-family: 'Poppins', sans-serif;
}


 .header-logo svg{
    width: 150px;
    height: 150px;
 }       
 .signup-button{
    border: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
 }
 .signup-button:hover{
    background-color: #DB202C;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 100px;
    height: 100px;
 }
.hero-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero-section-top{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 29%;
}
.hero-section-top h1{
    font-size: 3rem;
    font-weight: 900;
   
}
.hero-section-top span{
    font-size: 1.3rem;  
    font-weight: 700;
    margin-top: 15px;
}
.hero-section-bottom{
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.email-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.email-container input{
    padding: 20px 100px;
    border: solid 1 px white;
    border-radius: 5px;
    background-color: rgb(15,16,16);
    color: white;
    margin-top: 15px;
}
.email-container .signup-button{
   color: azure;
   font-weight: 700;
   font-size: 1.2rem;
   padding: 20px 10px;

}


